.vs/BookMaintain/v15/.suo
.vs/BookMaintain/v15/Server/sqlite3/db.lock
.vs/BookMaintain/v15/Server/sqlite3/storage.ide
.vs/BookMaintain/v15/Server/sqlite3/storage.ide-shm
.vs/BookMaintain/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
