<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>圖書管理系統</title>
    <link rel="shortcut icon" href="~/css/favicon.ico">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/kendo.material.min.css" rel="stylesheet" />
    <link href="~/css/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/Content/ShinDefine.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);border-color:white;background-color:white;">
        <div class="container">
            <div class="navbar-header" style="font-size: 30px;color: white;margin-left:42%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>圖書管理系統</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <button class="btn btn-default" id="BacktoSearch">回到查詢</button>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script>
        $(function () {
            $("#BacktoSearch").kendoButton({
                click: function () {
                    window.location.href = '/Book/SearchBook';
                }
            });
        });
    </script>

</body>
</html>